*.csv
*.png
*.svg
.env
*.log
*.json
*.tsv
*.html
*.pdf
*.npy
catboost_info/
models/*
RakutenData/
SentimentData/
RawData/
crypto/models/*
db.sqlite3
research_AspectR/SentimentBertModel/model.safetensors
research_AspectR/AspectBertModel/model.safetensors
research_AspectR/AspectBertModel3Label/model.safetensors
cache/
*.h5


