*.csv
*.png
*.svg
.env
*.log
*.json
*.tsv
*.html
*.pdf
*.npy
catboost_info/
models/*
RakutenData/
SentimentData/
RawData/
crypto/models/*
db.sqlite3
research/SentimentBertModel/model.safetensors
research/AspectBertModel/model.safetensors
research/AspectBertModel3Label/model.safetensors
cache/

